[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
import-ipynb = "*"
altair = "*"
wordcloud = "*"
matplotlib = "==3.4.3"
plotly = "*"
pycountry = "*"
toml = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
